{{ define "title" }}
    <title>类别 | {{ .Site.Title }}</title>
{{ end }}
{{ define "main" }}
<!-- Shows all of the site's tags -->
<h1>类别</h1>
{{ $data := .Data }}
{{ range .Data.Terms.ByCount }}
{{ $termLink := printf "/blog/%s/%s/" $data.Plural .Term | urlize }}
<h2>
    <a href="{{ $termLink }}">{{ .Term }}</a>
    有 {{ .Count }}篇
</h2>
<ul>
    {{ range .Pages | first 5 }}
    <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
    {{ end }}
    {{ if gt (len .Pages) 5 }}
    <li><a href="{{ $termLink }}">……</a></li>
    {{ end }}
</ul>
{{ end }}
<div class="page-footer"></div>
{{ end }}